storage_account_name = "<Storage Account Name>"
container_name       = "<Container Name>"
subscription_id      = "<Container Subscription id>"
github_repo          = "<Github repo(USERNAME/REPO_NAME)>"
github_repo_branch   = "<Branch Name>"